.ourLogo
{
    margin-top: 0.5rem;
}

.products
{
    margin: 1rem;
}

.expand
{
    position: relative;
    top: 0.5rem;
}

form 
{
    position: absolute;
    right: 40%;

}



.logIn
{
    
    position: absolute;
    left: 94%;
}

.register
{
    position: absolute;
    left: 88%;
}

.user
{
    position: absolute;
    left: 87%;
   
}

.logOut
{
    position: absolute;
    left: 94%;
}

.shopCart
{
    position: absolute;
    left: 84%;
    top: 1rem;
    color: black;
}

