.logo {
  height: 50px;
  margin-top: -5px;
}

.header {
  display: grid;
  grid-template-columns: min-content 1fr 1.5fr 1fr;
  column-gap: 4px;
  align-items: center;
}

.left-menu {
  display: flex;
  justify-content: flex-start;
}

.left-menu > * {
  margin-left: 10px;
}

.right-menu {
  display: flex;
  justify-content: flex-end;
}

.right-menu > a, .right-menu > div > a {
  margin-right: 10px;
}

.shopCart {
  position: absolute;
  left: 84%;
  top: 1rem;
  color: black;
}