<mat-toolbar class="header" color="primary">
  <span class="logo">
    <a routerLink="/">
      <img src="/assets/images/logo.png" alt="logo" />
    </a>
  </span>

  <div class="left-menu">
    <button class="products" routerLink="/store/products" mat-raised-button color="accent">
      <a>Products</a>
    </button>

    <a routerLink="/about" class="about">
      <button mat-raised-button color="accent">About Us</button>
    </a>
  </div>

  <app-search-bar type="product" has-button="true" mode="light" (select)="onSelect($event)" (search)="onSearch($event)"></app-search-bar>

  <div class="right-menu">
    <div *ngIf="!(isLoggedIn$ | async); else logOut">
      <a routerLink="/register">
        <button mat-raised-button color="warn">Register</button>
      </a>
      <a routerLink="/login">
        <button mat-raised-button color="primary">Login</button>
      </a>
    </div>
    <ng-template #logOut>
      <a routerLink="/store/user" class="user">
        <button mat-raised-button style="width: 6rem;" color="primary">
          {{ 'Hi, ' + (user$ | async).firstName }}
        </button>
      </a>
      <a routerLink="/" class="logOut" (click)="logout()">
        <button mat-raised-button color="warn">Logout</button>
      </a>
    </ng-template>

    <a [routerLink]="['store/products/shopping-cart']" *ngIf="isLoggedIn$ | async">
      <button mat-icon-button class="shopCart">
        <mat-icon [matBadge]="cap" matBadgeColor="accent" *ngIf="cap > 0">shopping_cart</mat-icon>
      </button>
    </a>
  </div>
</mat-toolbar>