.ourLogo
{
    margin-top: 0.5rem;
}

.products
{
    margin: 1rem;
}

form 
{
    position: absolute;
    right: 40%;

}

.siteName
{
    color: cornflowerblue;
}

.logIn
{
    
    position: absolute;
    left: 94%;
}

.register
{
    position: absolute;
    left: 88%;
}

