.footer {
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.bar {
  display: flex;
  justify-content: center;
}

.bar img {
  display: block;
  padding: 0;
  max-height: 100px;
}
