<mat-grid-list cols="8" rowHeight="100%">
  <mat-grid-tile [colspan]="4" class="tile-card-container">
    <div class="card-container">
      <mat-card *ngFor="let product of shoppingCart" class="example">
        <!--might change here the route-->
        <a [routerLink]="['/store/products/product-details', product._id]">
          <img
            [src]="product.image | btoimg"
            alt=""
            width="360px"
            height="640px"
          />
        </a>
        <mat-card-content>
          <mat-card-subtitle style="text-align: center;"
            ><h3>{{ product.type }}</h3></mat-card-subtitle
          >
          <a
            [routerLink]="['/store/products/product-details', product._id]"
            style="text-decoration: none;"
            ><h4 style="text-align: center;">
              <strong>{{ product.name }}</strong>
            </h4></a
          >
          <p style="text-align: center;">{{ product.description }}</p>
          <mat-divider></mat-divider>
          <span class="item-price"
            ><p style="text-align: center;">$ {{ product.price }}</p>
            <button mat-icon-button (click)="removeCartProd(product)">
              <mat-icon>cancel</mat-icon>
            </button>
          </span>
        </mat-card-content>
      </mat-card>
    </div>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="4">
    <app-cart-calc [products]="shoppingCart"></app-cart-calc>
  </mat-grid-tile>
</mat-grid-list>
