<mat-card>
    <mat-card-header class ="head">
        <mat-card-title>About us</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <h1>Course Project</h1>
        <p>This is the final project for the Advanced Topics in Web Application Development Course at College of Management Rishon LeTsiyon, Israel</p>
        <h3>Group Members</h3>
        <p>Itamar Priel <br>
            Johnatan Hallel<br>
            Itay Beresi</p>
        <p>Git reposetory:<a href="https://github.com/ipriel/awd-project">https://github.com/ipriel/awd-project</a></p>  
    </mat-card-content>
    <h1>Our Stores</h1>
    <div #mapContainer id="map"></div>
</mat-card>

