<div class="full-input" [ngClass]="colorMode">
  <input type="text" matInput [formControl]="searchControl" [matAutocomplete]="auto" #input>
  <button mat-button (click)="search(input.value)" *ngIf="hasSearchButton">
    <mat-icon>search</mat-icon>
  </button>
</div>
<mat-autocomplete autoActiveFirstOption #auto="matAutocomplete"  [displayWith]="displayFn" (optionSelected)="selected($event)">
  <mat-option *ngFor="let option of results$ | async" [value]="option">
    {{option?.firstName ? option?.firstName+' '+option?.lastName : option?.name }}
  </mat-option>
</mat-autocomplete>