<div class="content">
    <br>
    <mat-card class="center">
        <mat-selection-list #users [multiple]="false" (click)="searchUserRoles(users.selectedOptions.selected[0]?.value)">
            <mat-list-option *ngFor="let user of usersList | async" [value]="user.userId">
              {{user.firstName}} {{user.lastName}} | {{user.email}}
            </mat-list-option>
          </mat-selection-list>
    </mat-card>
    <br>
    <mat-card class="center" *ngIf="isUserSelected">
        <h2>User Authorizations</h2>
        <section>
            <mat-checkbox class="box" [color]="'primary'" [checked]="userRoles.admin | async" #adminBox>Admin</mat-checkbox>
            <mat-checkbox class="box" [color]="'accent'" [checked]="userRoles.logisticsDelivery | async" #deliveryBox>Logistics Delivery</mat-checkbox>
            <mat-checkbox class="box" [color]="'warn'" [checked]="userRoles.logisticsWarehouse | async" #warehouseBox>Logistics Warehouse</mat-checkbox>
        </section>
        <br>
        <button mat-flat-button [color]="'primary'" (click)="updateAuthorizations()">Update</button>
    </mat-card>
</div>