<div class="card-grid">
    <!-- Income card -->
    <mat-card class="grid-card income-card">
        <mat-card-header>
            <div mat-card-avatar class="income-icon"></div>
            <mat-card-title>Today's Income</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <h1>{{ todaysIncome$ }}$</h1>
        </mat-card-content>
    </mat-card>
    <!-- Products card -->
    <mat-card class="grid-card products-card">
        <mat-card-header>
            <div mat-card-avatar class="products-icon"></div>
            <mat-card-title>Items In Store</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <h1>{{ productsSum$ }}</h1>
        </mat-card-content>
    </mat-card>
    <!-- Users card -->
    <mat-card class="grid-card users-card">
        <mat-card-header>
            <div mat-card-avatar class="users-icon"></div>
            <mat-card-title>Registered Users</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <h1 class="card-content">{{ registeredUsers$ }}</h1>
        </mat-card-content>
    </mat-card>
    <!-- Online card -->
    <mat-card class="grid-card online-card">
        <mat-card-header>
            <div mat-card-avatar class="online-icon"></div>
            <mat-card-title>People Online</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <h1 class="card-content">{{ peopleOnline$ }}</h1>
        </mat-card-content>
    </mat-card>
</div>
<div id="bar" class="hero" appMyDirective [dataSource]="dataSource$" [width]="barWidth" [height]="barHeight">
    <h1>Recent Daily Income</h1>
    <svg></svg>
</div>